@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    display: grid;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 40px;
    background: rgb(0, 0, 0);
    align-content: center;
    justify-items: center;
    justify-content: center;
}
a
{
    position: relative;
    background: rgb(65, 63, 63);
    color: rgba(255, 251, 251, 0.932);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 34px 124px;
    transition: 0.5s;
}

a:hover
{
    letter-spacing: 0.25em;
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
a::before
{
    content:'' ;
    position: absolute;
    inset: 2px;
    background: #77767c25;
}
a span
{
    position: relative;
    z-index: 1;
}
a i
{
    position: absolute;
    inset: 0;
    display: block;
}
a i::before 
{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
a:hover i::before
{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 67px 65px var(--clr);
}

a i::after
{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
a:hover i::after
{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 67px -65px var(--clr);
}

